:root {
    /* General Background and Text Colors */
    --color-bg-main: #f7f7f7;
    --color-text-input: #ccc;

    /* Input Styles */
    --color-input-border: #cdd9ed;
    --color-input-bg: #fff;
    --color-input-placeholder: #cbd1dc;
    --color-input-border-focus: #802e1f;

    /* Form Group Styles */
    --color-group-text: var(--color-text-input);
    --color-group-border: var(--color-input-border);
    --color-group-bg: #eef4ff;
    --color-group-text-focus: #fff;
    --color-group-border-focus: var(--color-input-border-focus);
    --color-group-bg-focus: #678efe;

    /* Button Styles */
    --color-btn-bg: hsl(190deg, 30%, 15%);
    --color-btn-text: hsl(190deg, 10%, 95%);
    --color-btn-shadow: hsla(190deg, 15%, 5%, 0.2);
    --color-btn-bg-hover: hsl(230deg, 50%, 45%);
    --color-btn-border: #000;
    --radius-btn-hover: 16px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-size: 2em;
    line-height: 1.1;
    color: tomato;
}



@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* CSS reset */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px 12%;
    background-color: var(--color-bg-main);
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.heading {
    font-family: "Righteous", cursive;
    margin-bottom: 2rem;
}


.img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 150px);
    margin: 0 auto;
    max-width: 90%;
    padding: 3rem 0;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centers horizontally */
    margin: 0 auto;
    /* Ensures it's centered in the parent container */
}

.form-field {
    width: 300px;
    /* Adjust the width as needed */
    border: 2px solid #ff765b;
    border-right: none;
    padding: 5px;
    height: 26px;
    /* Adjust height to match button */
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.form-field:focus {
    color: #ff765b;
}

.search-button {
    width: 30px;
    /* Adjust the width to match input */
    height: 27px;
    /* Matches the height of the input */
    border: 1px solid #ff765b;
    background: #ff765b;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 0.88rem;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers content horizontally */
    justify-content: center;
    /* Centers content vertically */
    min-height: 100vh;
    /* Full viewport height for vertical centering */
    text-align: center;
}

.image-item {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.image-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align overlay content to the top */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
}

.image-item:hover .overlay {
    opacity: 1;
}

.photographer-name {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    /* Add some spacing from the top */
    text-align: center;
}

.photographer-name:hover {
    text-decoration: underline;
}